@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">We're going to have an exciting party!</h1>
    <p>And YOU are invited!</p>
    <div>
        <button type="button" style="background-color:blue">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="RsvpForm">RSVP Now</a>
        </button>
    </div>
</div>
