
@{
    ViewData["Title"] = "ThankYou";
}

<div class="text-center">
    <h1 class="display-4">Thank you, Name Here</h1>
    <p>It's great that you are coming. The drinks are already in the fridge!</p>
    <p>Click <a href="ListOfGuests">here</a> to see who is coming</p>
</div>